{{#> plantillaUsuario}}
<div class="nameTable">
    <h3>Administrar Voluntariados</h3>
    <button type="button" class="AlertConfirm" data-bs-toggle="modal" data-bs-target="#ModalAgregar">
        <img class="iconAdd icons" src="https://img.icons8.com/fluency/30/null/add.png" />  
    </button>
    

    
</div>
<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Ubicacion</td>
                <td>Areas</td>
                <td>Duracion</td>
                <td>Cantidad</td>
                <td>Que hacer</td>
                <td>Beneficio</td>
                <td>Editar</td>
                <td>Eliminar</td>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {{#each voluntariados}}
            <tr>
                <td>{{id}}</td>
                <td>{{titulo}}</td>
                <td>{{ubicacion}}</td>
                <td>{{#each areas}} ● {{nombreArea}}{{/each}}</td>
                <td>{{duracion}}</td>
                <td>{{cantidad}}</td>
                <td>{{quehacer}}</td>
                <td>{{beneficio}}</td>
                <td>
                    <button type="button" class="AlertConfirm" data-bs-toggle="modal" data-bs-target="#ModalEditar" onclick="abrirModalEdicion('{{id}}')">
                        <img class="icons" src="https://img.icons8.com/arcade/30/null/edit.png"/>  
                    </button>
                </td>
                <td>
                    <a onclick="deleteVolunt({{id}}, '{{titulo}}')"><img class="icons"
                            src="https://img.icons8.com/color/29/null/trash--v1.png" /></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="modal fade" id="ModalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Añadir Voluntariado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="formAdd" action="agregarVoluntariado" method="post" enctype="multipart/form-data">
                    <div>
                        <label for="titulo">Título:</label>
                        <input id="titulo" name="titulo" class="swal2-input" placeholder="Título">
                    </div>
                    <div>
                        <label for="ubicacion">Ubicación:</label>
                        <input id="ubicacion" name="ubicacion" class="swal2-input" placeholder="Valparaiso #254">
                    </div>
                    <div>
                        <label for="areas">Areas:</label>
                        <input id="areas" name="areas" class="swal2-input" placeholder="1, 2, 5, 6, 8, 9">
                    </div>
                    <div>
                        <label for="duracion">Duración:</label>
                        <input id="duracion" name="duracion" class="swal2-input" placeholder="2 Semanas">
                    </div>
                    <div>
                        <label for="quehacer">Qué hacer:</label>
                        <textarea id="quehacer" name="quehacer" class="swal2-textarea"
                            placeholder="Limpieza, Diurno, Cuidado"></textarea>
                    </div>
                    <div>
                        <label for="beneficio">Beneficio:</label>
                        <textarea id="beneficio" name="beneficio" class="swal2-textarea"
                            placeholder="Comida, Habitacion"></textarea>
                    </div>
                    <div class="inputCantidad">
                        <label for="cantidad">Cantidad de Voluntarios:</label>
                        <input type="number" name="cantidad" id="cantidad" class="swal2-input" placeholder="1">
                    </div>
                    <div class="divinputfile">
                        <label for="img">Subir Imagen Voluntariado:</label>
                        <input class="inputfile" type="file" id="img" name="img" accept="image/*" required>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Añadir Voluntariado</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Voluntariado</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="formAdd" action="editarVoluntariado" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="voluntariadoId" name="voluntariadoId">
                    <div>
                        <label for="tituloE">Título:</label>
                        <input id="tituloE" name="tituloE" class="swal2-input" placeholder="Título">
                    </div>
                    <div>
                        <label for="ubicacionE">Ubicación:</label>
                        <input id="ubicacionE" name="ubicacionE" class="swal2-input" placeholder="Valparaiso #254">
                    </div>
                    <div>
                        <label for="areasE">Areas:</label>
                        <input id="areasE" name="areasE" class="swal2-input" placeholder="1, 2, 5, 6, 8, 9">
                    </div>
                    <div>
                        <label for="duracionE">Duración:</label>
                        <input id="duracionE" name="duracionE" class="swal2-input" placeholder="2 Semanas">
                    </div>
                    <div>
                        <label for="quehacerE">Qué hacer:</label>
                        <textarea id="quehacerE" name="quehacerE" class="swal2-textarea"
                            placeholder="Limpieza, Diurno, Cuidado"></textarea>
                    </div>
                    <div>
                        <label for="beneficioE">Beneficio:</label>
                        <textarea id="beneficioE" name="beneficioE" class="swal2-textarea"
                            placeholder="Comida, Habitacion"></textarea>
                    </div>
                    <div class="inputCantidad">
                        <label for="cantidadE">Cantidad de Voluntarios:</label>
                        <input type="number" name="cantidadE" id="cantidadE" class="swal2-input" placeholder="1">
                    </div>
                    <div class="divinputfile">
                        <label for="imgE">Subir Imagen Voluntariado:</label>
                        <input class="inputfile" type="file" id="imgE" name="imgE" accept="image/*" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Editar Voluntariado</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function abrirModalEdicion(voluntariadoId) {
        document.getElementById("voluntariadoId").value = voluntariadoId;
    }
</script>

{{/plantillaUsuario}}