{{#> plantillaAdmin}}
    <h3 class="nameTable">Administrar Tabla Usuarios</h3>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Apellidos</td>
                    <td>Email</td>
                    <td>idrol</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            
            <tbody class="table-group-divider">
                {{#each usuarios}} 
                    <tr>
                        <td>{{id_usuario}}</td>
                        <td>{{nombre}}</td>
                        <td>{{apellidos}}</td>
                        <td>{{email}}</td>
                        <td>{{idrol}}</td>
                        <td>
                            <a href="#" onclick="editar({{id}})"><span class="material-symbols-outlined">
                                edit
                            </span></a>
                        </td>
                        <td>
                        
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/plantillaAdmin}}