{{#> plantillaAdmin}}
    <h3 class="nameTable">Administrar Tabla Usuarios</h3>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Nombre</td>
                    <td>Apellidos</td>
                    <td>Email</td>
                    <td>idrol</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            
            <tbody class="table-group-divider">
                {{#each usuarios}} 
                    <tr>
                        <td>{{id_usuario}}</td>
                        <td>{{nombre}}</td>
                        <td>{{apellidos}}</td>
                        <td>{{email}}</td>
                        <td>{{idrol}}</td>
                        <td>
                            <a onclick="#"><img class="icons" src="https://img.icons8.com/arcade/30/null/edit.png"/></a>
                        </td>
                        <td>
                            <a onclick="deleteUsuario({{id_usuario}}, '{{nombre}}')"><img class="icons" src="https://img.icons8.com/color/29/null/trash--v1.png"/></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/plantillaAdmin}}