{{#> plantillaAdmin}}
    <h3 class="nameTable">Administrar Tabla Voluntariados</h3>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Titulo</td>
                    <td>Ubicacion</td>
                    <td>Areas</td>
                    <td>Duracion</td>
                    <td>Cantidad</td>
                    <td>Que hacer</td>
                    <td>Beneficio</td>
                    <td>Editar</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            
            <tbody class="table-group-divider">
                {{#each voluntariados}} 
                    <tr>
                        <td>{{id}}</td>
                        <td>{{titulo}}</td>
                        <td>{{ubicacion}}</td>
                        <td>{{#each areas}} {{nombreArea}}{{/each}}</td>
                        <td>{{duracion}}</td>
                        <td>{{cantidad}}</td>
                        <td>{{quehacer}}</td>
                        <td>{{beneficio}}</td>
                        <td>
                            <a onclick="#"><img class="icons" src="https://img.icons8.com/arcade/30/null/edit.png"/></a>
                        </td>
                        <td>
                            <a onclick="deleteVolunt({{id}}, '{{titulo}}')"><img class="icons" src="https://img.icons8.com/color/29/null/trash--v1.png"/></a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
{{/plantillaAdmin}}