{{#> plantillaUsuario}}
<div class="nameTable">
    <h3>Inscribir Voluntariados</h3>
</div>
<div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
        <thead>
            <tr>
                <td>ID</td>
                <td>Titulo</td>
                <td>Ubicacion</td>
                <td>Areas</td>
                <td>Duracion</td>
                <td>Cantidad</td>
                <td>Que hacer</td>
                <td>Beneficio</td>
                <td>Inscribir</td>
            </tr>
        </thead>

        <tbody class="table-group-divider">
            {{#each voluntariados}}
            <tr>
                <td>{{id}}</td>
                <td>{{titulo}}</td>
                <td>{{ubicacion}}</td>
                <td>{{#each areas}} {{nombreArea}}{{/each}}</td>
                <td>{{duracion}}</td>
                <td>{{cantidad}}</td>
                <td>{{quehacer}}</td>
                <td>{{beneficio}}</td>
                <td>
                <a onclick="inscribir('{{id}}', '{{titulo}}', '{{datosPerfil.id_usuario}}')">
                    <img class="icons" src="https://img.icons8.com/arcade/30/null/add-bookmark.png">
                </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/plantillaUsuario}}