{{#> plantilla}}
<br><br>
<div class="divisones">
        <aside class="asideLeft">
            <div class="asideL">
                <br>
                <p id="aside__filtro">FILTRANDO POR:</p>
                <p id="aside__areas_p"> No se han seleccionado filtros.</p>
                <div class="aside__campos">
                    <div id="aside__filtrando"></div>
                </div>


                    <p class="aside__areas">-AREAS A FILTRAR-</p>

                    <div class="aside__campos">
                        <div id="aside__categorias"></div>
                    </div>
                    <!--  SE RELLENARA CON JS  -->

                </div>

            <div class="icono__container2">
                <a href="/donacion"><img class="iconoArbol" height="110" src="https://img.icons8.com/clouds/100/null/floating-island-forest.png"/></a>
            </div>

        </aside>

        <main class="centro">
            <h1 class="titulo__centro">Todas las areas para hacer voluntariado</h1>
            <div class="contenedor__contenedor__areas">
                <div id="contenedor__areas" class="contenedor__areas">
                    {{#each results}}
                        <a href="#">
                            <div class="contenedor__areas__voluntariado">
                                <div class="container__area">
                                    <div>

                                        <img class="container__area__img" src={{img}} alt={{titulo}}</img>
                                    </div>
                                    <div class="container__areaInfo">
                                        <div class="area__c0">
                                            <h5 class="container__area__titulo areas">{{titulo}}</h5>
                                            <p class="container__area__cantidad areas">
                                            <svg  class="iconPerson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg> 
                                            {{cantidad}}</p>
                                        </div>

                                        <div class="area__c1">
                                            <p class="container__area__ubicacion areas">{{ubicacion}}</p>
                                            <p class="container__area__area areas">Área: {{area}}</p>
                                            <p class="container__area__duracion areas">Duración: {{duracion}}</p>
                                        </div>

                                        <div class="area__c2">
                                            <p class="container__area__quehacer areas">
                                            <svg class="iconPerson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/></svg>
                                            {{quehacer}}</p>
                                        </div>

                                        <div class="area__c3">
                                            <p class="container__area__beneficio areas">
                                            <svg class="iconPerson" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.3.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/></svg>
                                            {{beneficio}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {{/each}}
                </div>
            </div>
        </main>

        <aside class="asideRight">
            AL LADO DERECHO DE LA PAGINA
            <h1>PUBLICIDAD AL VOLUNTARIADO</h1>
        </aside>
    </div>

<script src="/js/Area.js"></script>
<script src="/js/voluntariado.js"></script>
{{/plantilla}}